body{
    background-color: cornsilk;
}
body *{
    color: darkviolet;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.basic{
    margin-top: 3%;
}
.functions{
    margin-top: 2%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

a {
    color: blue;
}
